# macOS
.DS_Store

# VS Code
.vscode/settings.json

# Spring Boot / Maven
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# Angular
frontend/wandelmaatje-frontend/node_modules/
frontend/wandelmaatje-frontend/.angular/
frontend/wandelmaatje-frontend/dist/

# Logs
*.log

# Environment
.env
.env.local

# Project presentation assets
deal.jpeg
diagram.PNG
fluxogram.PNG