:root {
  --color-primary: #0f4c81;

  --color-text-primary: #1e293b;
  --color-text-secondary: #334155;
  --color-text-muted: #64748b;

  --color-surface-soft: #f8fafc;
  --color-surface-hover: #e2e8f0;
  --color-surface-avatar: #f1f5f9;
}