.app-toolbar__spacer {
  flex: 1 1 auto;
}

.app-toolbar__navigation {
  display: flex;
  align-items: center;
}

.app-toolbar__mobile-menu {
  display: none;
}

@media (max-width: 699px) {
  .app-toolbar__navigation {
    display: none;
  }

  .app-toolbar__mobile-menu {
    display: inline-flex;
  }
}
