
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'styles/spacing';
@use 'styles/layout';
@use 'styles/responsive';

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  margin: 0;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

button,
input,
select,
textarea {
  font: inherit;
}

.mat-mdc-snack-bar-container {
  &.notification--success {
    --mat-snack-bar-container-color: #1b5e20;
    --mat-snack-bar-supporting-text-color: #fff;
    --mat-snack-bar-button-color: #b9f6ca;
  }

  &.notification--error {
    --mat-snack-bar-container-color: #b71c1c;
    --mat-snack-bar-supporting-text-color: #fff;
    --mat-snack-bar-button-color: #ffccbc;
  }

  &.notification--warning {
    --mat-snack-bar-container-color: #e65100;
    --mat-snack-bar-supporting-text-color: #fff;
    --mat-snack-bar-button-color: #fff3e0;
  }

  &.notification--info {
    --mat-snack-bar-container-color: #01579b;
    --mat-snack-bar-supporting-text-color: #fff;
    --mat-snack-bar-button-color: #e1f5fe;
  }
}
